[submodule "common"]
	path = common
	url = https://github.com/socrata/labs-common.git
[submodule "_layouts"]
	path = _layouts
	url = https://github.com/socrata/labs-common-jekyll.git
[submodule "_plugins"]
	path = _plugins
	url = https://github.com/socrata/labs-plugins.git
